<<<<<<< HEAD
=======
<<<<<<< HEAD
p{
    display: flex;
    justify-content: center;
}

div{
    display: block;
    align-items: center;
=======
>>>>>>> 25b39681f4a3bbce1c1eceb563ebefd002298ac4
p{
    display: flex;
    justify-content: center;
}

div{
    display: block;
    align-items: center;
<<<<<<< HEAD
=======
>>>>>>> 109815b27124bb46d4c0b64eb1da8147e9f5fd1e
>>>>>>> 25b39681f4a3bbce1c1eceb563ebefd002298ac4
}