<<<<<<< HEAD
h1{
    font-size: 30px;
    color: whitesmoke;
}

h2{
    color: rgba(68, 190, 11, 0.712);;
}

h3{
    color: whitesmoke;
=======
h1{
    font-size: 30px;
    color: whitesmoke;
}

h2{
    color: rgba(68, 190, 11, 0.712);;
}

h3{
    color: whitesmoke;
>>>>>>> 25b39681f4a3bbce1c1eceb563ebefd002298ac4
}