<article>
<div class="card-columns m-5 animated fadeIn">
    <div class="card puntero"> 
        <img src="../../assets/clasesdebox.jpg" alt=""  height="400px">
        <div class="card-body">
            <h2 class="card-title">Clases de Box
                <span class="badge badge-pill badge-primary">De 7 am a 4 pm</span>
            </h2>
            
            <p class="card-text">
                <span class="badge badge-pill badge-primary">Entrenador: Ivan Drago</span>
                <span class="badge badge-pill badge-primary">Inscritos 18 de 25</span> 
                <!-- Agregar metodo onclick -->
                <span class="badge badge-pill badge-primary">Pulsa aquí para Inscribirse</span>
            </p>
        </div> 
    </div>

    <div class="card puntero"> 
        <img src="../../assets/crossfit.jpg" alt="" height="400px">
        <div class="card-body">
            <h2 class="card-title">Clases de Crossfit
                <span class="badge badge-pill badge-primary">De 8 am - 12pm </span>
            </h2>
            
            <p class="card-text">
                <span class="badge badge-pill badge-primary">Entrenador: LeBron James</span> 
                <span class="badge badge-pill badge-primary">Inscritos: 23 de 30</span> 
                <!-- Agregar metodo onclick -->
                <span class="badge badge-pill badge-primary">Pulsa aquí para Inscribirse</span>
            </p>
        </div> 
    </div>

    <div class="card puntero"> 
        <img src="../../assets/fisicoculturismo.jpg" alt=""  height="400px">
        <div class="card-body">
            <h2 class="card-title">Clase de Fisicoculturismo 
                <span class="badge badge-pill badge-primary">De 10 am a 2 pm</span>
            </h2>
            
            <p class="card-text">
                <span class="badge badge-pill badge-primary">Entrenador: Arnold S.</span> 
                <span class="badge badge-pill badge-primary">Inscritos 33 de 45</span> 
                <!-- Agregar metodo onclick -->
                <span class="badge badge-pill badge-primary">Inscribirse</span>
            </p>
        </div> 
    </div> <br>
    
    <div class="card puntero"> 
        <img src="../../assets/clases.jpg" alt="" height="400px">
        <div class="card-body">
            <h2 class="card-title">Clase de Spinning
                <span class="badge badge-pill badge-primary">12 pm a 6 pm</span>
            </h2>
            
            <p class="card-text">
                <span class="badge badge-pill badge-primary">Entrenador: Ivan Drago</span> 
                <span class="badge badge-pill badge-primary">Inscritos 60 de 60</span> 
                <!-- Agregar metodo onclick -->
                <span class="badge badge-pill badge-primary">Pulsa aquí para inscribirse</span>
            </p>
        </div> 
    </div>
</div>
</article>
