mat-grid-tile {
    background-color: seashell;
    margin-top: 10%;
}

.container{
    margin-top: 6%;
}

h2{
    color: purple;
}

h1{
    color: gainsboro;;
}

.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }

img{
    margin: 10px;
    width: 300px;
    height: 300px;
}

.label{
    font-size: 20px;
    color: gainsboro;
}

