<mat-tab-group style="font-size: 30px; ">
  <mat-tab label="Conoce nuestras instalaciones" style="color: aliceblue;"> 

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" height="120px" src="../../assets/gym1" alt="">
          <h1>Las mejores instalaciones</h1>
          <h3>La mejor tecnologia para los mejores deportistas</h3>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/gym2.jpg" alt="">
          <h1>Mas de 3 rings de boxeo </h1>
          <h3>Conviertete en el camepon del peso Gallo</h3>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/ringbox.jpg" alt="">
          <h1>Mas de 3 rings de boxeo</h1>
          <h3>Conviertete en el camepon del peso Gallo</h3>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </mat-tab>


  <mat-tab label="Descubre nuestras clases"> 
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/golpesovietico.jpg" alt="Clases de Box">
          <h1>Golpes traidos desde la URSS</h1>
          <h3>Entrenate con Ivan Drago en box en todos sus niveles y pesos</h3>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/arnulfo.jpg" alt="Clases de pesas">
          <h1>Nueva RUTINA: El Exterminador de California</h1>
          <h3>Unete a Arnold en las intesas clases de pesas</h3>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/lebron.jpeg" alt="Third slide">
          <h1>LeBron nos muestra su talento</h1>
          <h3>Participa en sus clases de Rick Froning crossfit</h3>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </mat-tab>

  <mat-tab label="Ubica nuestras sucursales">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/instalaciones1.jpg" alt="Third slide">
          <h1>Avenida Revolución #200, Pabeyork</h1>
          <h3>Especializados en preparación física para atletas de alto rendimiento</h3>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/instalaciones2.jpg" alt="Third slide">
          <h1>Agustín R. Gonzáles #16</h1>
          <h3>Desde hace varios lustros el Gimansio de boxeo "Don Micky" ha entrenado a las promesas del pujilismo hidrocálido</h3>
        </div>
        <div class="carousel-item" >
          <img class="d-block w-100"  src="../../assets/instalaciones3.jpg" alt="Third slide">
          <h1>LeBron nos muestra su talento</h1>
          <h3>Participa en sus clases de Rick Froning crossfit</h3>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </mat-tab>
</mat-tab-group>

<br> <br>

<div> 
  <article>
    <p>Encuentra la clase que mas te guste!</p> <br>
    <h5>Conoce y entrenate con nuestras nuevas clases y rutinas que tenemos pensadas para ti.</h5> <br>
    <h5>Te garantizamos los mejores entrenadores y rutinas que el dinero puede comprar</h5> <br>
    <h5>Y si no lo puedes comprar siempre puedes endeudarte</h5> <br>
    <h5>Pero !HEY! Espera!</h5> <br>
    <h5>Antes de que abdandones este sueño de nuevo</h5> <br>
    <h5>Piensa en que pensarándee ti las generaciones venideras.</h5> <br>
    <h5>¿Serás recordado como un tirano?</h5> <br>
    <h5>¿Serás recordado como un conquistador?</h5><br>
    <h5>Mi nombre es Másimo Décimo Meridius</h5> 
  </article>
  
</div>