<<<<<<< HEAD
mat-grid-tile {
    background-color: seashell;
    margin-top: 10%;
}

.container{
    margin-top: 6%;
}

h3,h4{
    color: midnightblue;
}


h1,h2{
    color: whitesmoke;;
}

p{
    font-size: 40px;
    color: whitesmoke;
}

h5{
    font-size: large;
    color: midnightblue;
}


.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-large-box {
    height: 500px;
    width: 300px;
  }

img{
    margin: 10px;
    width: 300px;
    height: 300px;
}


=======
mat-grid-tile {
    background-color: seashell;
    margin-top: 10%;
}

.container{
    margin-top: 6%;
}

h2{
    color: purple;
}

h1{
    color: gainsboro;;
}

.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }

img{
    margin: 10px;
    width: 300px;
    height: 300px;
}

.label{
    font-size: 20px;
    color: gainsboro;
}

>>>>>>> 109815b27124bb46d4c0b64eb1da8147e9f5fd1e
